<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420766725892-2ca1dldb94m9v23tcg8i9dkv8g3hlu82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420766725892-2ca1dldb94m9v23tcg8i9dkv8g3hlu82</string>
	<key>API_KEY</key>
	<string>AIzaSyDvrq0jtIKS9AZMbjaMH8S9MZ-9xSR6eDY</string>
	<key>GCM_SENDER_ID</key>
	<string>420766725892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DC.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-efd44</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-efd44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420766725892:ios:84da33f27d006223</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-efd44.firebaseio.com</string>
</dict>
</plist>