<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598922235631-59pdtaapesdsq1ndbab7np1g0epamlpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598922235631-59pdtaapesdsq1ndbab7np1g0epamlpp</string>
	<key>API_KEY</key>
	<string>AIzaSyDtk97c4QtvZokkN4hR5E2cV4A2KniwJDE</string>
	<key>GCM_SENDER_ID</key>
	<string>598922235631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DC.Easychat</string>
	<key>PROJECT_ID</key>
	<string>easychat-92895</string>
	<key>STORAGE_BUCKET</key>
	<string>easychat-92895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598922235631:ios:04bda506bafabe0f</string>
	<key>DATABASE_URL</key>
	<string>https://easychat-92895.firebaseio.com</string>
</dict>
</plist>